{{#each this}}
<div>
    <img width="50" height="50" = src="{{flags.svg}}" alt="flag">
    <span class="country__official">{{name.official}}</span>
    <p><b>Capital: </b> {{capital}}</p>
    <p><b>Population: </b> {{population}}</p>
    <p><b>Languages: </b> 
        {{#each languages}}
            <span>{{this}}, </span>
        {{/each}}
    </p>
</div>
{{/each}}